//---------------------------
// Header
//---------------------------

.logo {
  display: block;
  margin-bottom: 0;

  a {
    transition: $base-transition-speed;
    text-decoration: none;
    letter-spacing: 1px;

    &:hover { color: $color__type--hover; }
    img {
      display: inline-block;
    }
  }

  &__img {
    max-height: $line-height__base;
    vertical-align: middle;
  }
}

.site-header {
  position: relative;
  padding: 10px 0;
  border-bottom: 1px solid $border-color;
  line-height: 0;
  font-size: 0;
  background-color: #fff;

  @media #{$large-up} {
    position: fixed;
    z-index: 100;
    width: 100%;
  }
}